<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="propbot_model">
  <link name="dummy"> <!-- Dummy link -->
   </link>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.95218820890092E-14 -8.48546876064446E-13 0.00290960833133145"
        rpy="0 0 0" />
      <mass
        value="0.962679505363189" />
      <inertia
        ixx="0.0833198554697182"
        ixy="-1.88264725669229E-14"
        ixz="2.52707604556368E-19"
        iyy="0.00390500151848884"
        iyz="7.03941797638526E-19"
        izz="0.0872183891998224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="dummy_joint" type="fixed">
     <parent link="dummy"/>
     <child link="base_link"/>
   </joint>
  <link
    name="base_link_to_main_frame">
    <inertial>
      <origin
        xyz="-0.00496155771438296 0.106799169308496 0.422430478496276"
        rpy="0 0 0" />
      <mass
        value="19.5224637441654" />
      <inertia
        ixx="0.422262141846948"
        ixy="0.000284153906144455"
        ixz="-0.000121491558893702"
        iyy="0.469729182496518"
        iyz="0.000168179565731358"
        izz="0.162384348770874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_link_to_main_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_link_to_main_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="main_frame"
    type="fixed">
    <origin
      xyz="0 0.45 -0.000270761367234723"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_link_to_main_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="base_to_right_front_wheel">
    <inertial>
      <origin
        xyz="0.000353218204334815 1.49654594272519E-14 -3.3080417334852E-06"
        rpy="0 0 0" />
      <mass
        value="2.9654201869257" />
      <inertia
        ixx="0.0187458318918593"
        ixy="1.05441040594404E-15"
        ixz="6.83080846647317E-07"
        iyy="0.0101188924668576"
        iyz="-4.64239151497712E-08"
        izz="0.0101188143745007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_right_front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_right_front_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_wheel"
    type="revolute">
    <origin
      xyz="0.45984 0.015032 0.05"
      rpy="3.1416 0 3.1416" />
    <parent
      link="base_link_to_main_frame" />
    <child
      link="base_to_right_front_wheel" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="base_to_right_middle_wheel">
    <inertial>
      <origin
        xyz="0.000353218204334871 1.49654594272519E-14 -3.30804173355509E-06"
        rpy="0 0 0" />
      <mass
        value="2.9654201869257" />
      <inertia
        ixx="0.0187458318918593"
        ixy="1.05463798889347E-15"
        ixz="6.83080846648007E-07"
        iyy="0.0101188924668576"
        iyz="-4.64239151473157E-08"
        izz="0.0101188143745007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_right_middle_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_right_middle_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_middle_wheel"
    type="revolute">
    <origin
      xyz="0.45984 0.015032 0.45"
      rpy="3.1416 0 3.1416" />
    <parent
      link="base_link_to_main_frame" />
    <child
      link="base_to_right_middle_wheel" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="base_to_right_back_wheel">
    <inertial>
      <origin
        xyz="0.000353218204334815 1.49515816394441E-14 -3.3080417334852E-06"
        rpy="0 0 0" />
      <mass
        value="2.9654201869257" />
      <inertia
        ixx="0.0187458318918593"
        ixy="1.05487522045234E-15"
        ixz="6.83080846648002E-07"
        iyy="0.0101188924668576"
        iyz="-4.64239151471001E-08"
        izz="0.0101188143745007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_right_back_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_right_back_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_back_wheel"
    type="revolute">
    <origin
      xyz="0.45984 0.015032 0.85"
      rpy="3.1416 0 3.1416" />
    <parent
      link="base_link_to_main_frame" />
    <child
      link="base_to_right_back_wheel" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="base_to_left_front_wheel">
    <inertial>
      <origin
        xyz="0.000353218204334815 1.49723983211558E-14 -3.30804173354071E-06"
        rpy="0 0 0" />
      <mass
        value="2.9654201869257" />
      <inertia
        ixx="0.0187458318918593"
        ixy="1.05566480354607E-15"
        ixz="6.83080846646722E-07"
        iyy="0.0101188924668576"
        iyz="-4.64239151481091E-08"
        izz="0.0101188143745007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_left_front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_left_front_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_wheel"
    type="revolute">
    <origin
      xyz="-0.45996 -0.0076 0.05"
      rpy="0 0 0" />
    <parent
      link="base_link_to_main_frame" />
    <child
      link="base_to_left_front_wheel" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="base_to_left_middle_wheel">
    <inertial>
      <origin
        xyz="0.00035321820433476 1.49793372150597E-14 -3.30804173353209E-06"
        rpy="0 0 0" />
      <mass
        value="2.9654201869257" />
      <inertia
        ixx="0.0187458318918593"
        ixy="1.05456887700731E-15"
        ixz="6.83080846648231E-07"
        iyy="0.0101188924668576"
        iyz="-4.64239151484789E-08"
        izz="0.0101188143745007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_left_middle_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_left_middle_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_middle_wheel"
    type="revolute">
    <origin
      xyz="-0.45996 0.0155 0.45"
      rpy="0 0 0" />
    <parent
      link="base_link_to_main_frame" />
    <child
      link="base_to_left_middle_wheel" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="base_to_left_back_wheel">
    <inertial>
      <origin
        xyz="0.000353218204334815 1.49845413854877E-14 -3.3080417334852E-06"
        rpy="0 0 0" />
      <mass
        value="2.9654201869257" />
      <inertia
        ixx="0.0187458318918593"
        ixy="1.05506916013193E-15"
        ixz="6.83080846647518E-07"
        iyy="0.0101188924668576"
        iyz="-4.64239151500435E-08"
        izz="0.0101188143745007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_left_back_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://propbot_model/meshes/base_to_left_back_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_back_wheel"
    type="revolute">
    <origin
      xyz="-0.45996 0.0155 0.85"
      rpy="0 0 0" />
    <parent
      link="base_link_to_main_frame" />
    <child
      link="base_to_left_back_wheel" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>