<?xml version="1.0" ?>
<launch>
  <arg name="eks_config" default="config/simulation/ekf.yaml" />
  <arg name="navsat_config" default="config/simulation/navsat.yaml" />

  <rosparam command="load" file="$(find propbot_localization)/$(arg eks_config)" />
  <rosparam command="load" file="$(find propbot_localization)/$(arg navsat_config)" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <!-- <remap from="odometry/filtered" to="odometry/filtered_map"/> -->
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
    <!-- <remap from="odometry/filtered" to="odometry/filtered_map"/> -->
      <remap from="gps/fix" to="/navsat/fix"/>
      <remap from="imu/data" to="/imu/data"/>
  </node>
</launch>