<?xml version="1.0" ?>
<launch>

  <arg name="robot_namespace" default="/" />
  <arg name="laser_enabled" default="true" />
  <arg name="rgbd_camera_enabled" default="true" />

  <group ns="$(arg robot_namespace)">

    <!--- Launch controller -->
    <include file="$(find propbot_control)/launch/control.launch">
      <arg name="laser_enabled" value="$(arg laser_enabled)"/>
      <arg name="rgbd_camera_enabled" value="$(arg rgbd_camera_enabled)"/>
    </include>

    <!-- - Launch state estimation -->
    <include file="$(find propbot_state_estimation)/launch/state_estimation.launch" />

    <!-- - Launch SLAM-->
    <include file="$(find propbot_slam)/launch/slam.launch" />

    <!--- Launch Move Base -->
    <include file="$(find propbot_navigation)/launch/move_base.launch" />

    <!--- Launch Mission Execution -->
    <include file="$(find propbot_mission)/launch/execute_mission.launch" />
  </group>

</launch>
