<?xml version="1.0"?>
<launch>

  <!--- Run control -->
  <!-- <include file="$(find propbot_control)/launch/control.launch" /> -->

  <!--- Run gmapping -->
  <include file="$(find propbot_navigation)/launch/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find propbot_navigation)/launch/move_base.launch" />

</launch>