<?xml version="1.0" ?>
<launch>

  <arg name="robot_namespace" default="/" />

  <group ns="$(arg robot_namespace)">

    <!--- Launch controller -->
    <include file="$(find propbot_control)/launch/control.launch" />

    <!-- - Launch state estimation -->
    <include file="$(find propbot_state_estimation)/launch/ekf_filters.launch" />

    <!-- - Launch SLAM-->
    <include file="$(find propbot_slam)/launch/slam.launch" />

    <!--- Launch Move Base -->
    <include file="$(find propbot_navigation)/launch/move_base.launch" />

    <!--- Launch Mission Execution -->
    <include file="$(find propbot_mission)/launch/execute_mission.launch" />
  </group>

</launch>
