<launch>

  <node pkg="mapviz" type="mapviz" name="mapviz">
    <param name="config" value="$(find propbot_mission_gui)/config/mapviz_config.yaml" />
  </node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="swri"/>
    <rosparam param="local_xy_origins">
      [{ name: swri,
         latitude: 49.260100,
         longitude: -123.248690,
         altitude: 20,
         heading: 0.0}]
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />



</launch>
