<?xml version="1.0" ?>
<launch>

  <arg name="robot_namespace" default="/" />

  <group ns="$(arg robot_namespace)">
    <!--- Run gazebo -->
    <include file="$(find propbot_gazebo)/launch/propbot_playpen_people.launch" />

    <!--- Run rviz -->
    <include file="$(find propbot_rviz)/launch/view_robot.launch" />

  </group>

</launch>
