<?xml version="1.0"?>
<launch>

  <!--- Run rviz -->
  <include file="$(find propbot_rviz)/launch/view_robot.launch" />

  <!--- Run gmapping -->
  <include file="$(find propbot_navigation)/launch/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find propbot_navigation)/launch/move_base.launch" />

</launch>