<?xml version="1.0" ?>
<launch>

  <!--- Run state estimation -->
  <include file="$(find propbot_state_estimation)/launch/ekf_filters.launch" />

  <!-- - Launch SLAM-->
  <include file="$(find propbot_slam)/launch/slam.launch" />

  <!--- Run rviz -->
  <include file="$(find propbot_rviz)/launch/view_robot.launch" />

  <!--- Run Move Base -->
  <include file="$(find propbot_navigation)/launch/move_base.launch" />

</launch>