<?xml version="1.0"?>
<launch>

  <!--- Run gazebo -->
  <include file="$(find propbot_gazebo)/launch/propbot_playpen.launch" />

  <!--- Run state estimation -->
  <include file="$(find propbot_state_estimation)/launch/ekf_filters.launch" />

   <!-- - Run propbot SLAM navsat transform -->
   <!-- <include file="$(find propbot_slam)/launch/navsat_transform.launch" /> -->

  <!--- Run rviz -->
  <include file="$(find propbot_rviz)/launch/view_robot.launch" />

  <!--- Run SLAM -->
  <include file="$(find propbot_slam)/launch/cartographer.launch" />

  <!--- Run Move Base -->
  <include file="$(find propbot_navigation)/launch/move_base.launch" />

</launch>
