<?xml version="1.0"?>
<launch>

  <arg name="simulation" default="$(optenv ROBOT_SIMULATION false)"/>
  <arg name="robot_namespace" default="$(optenv ROBOT_NAMESPACE robot)"/>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find propbot_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="propbot_joint_publisher propbot_velocity_controller"/>
      
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find propbot_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="propbot_velocity_controller/cmd_vel"/>
  </node>

</launch>
